* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #231E22;
}
body nav {
  display: flex;
  width: 100%;
  height: 126px;
}
body nav .icono {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
body nav .icono img {
  height: 80px;
  margin: 0px 0% 0px 5%;
}
body nav .icono h6 {
  display: flex;
  align-items: center;
  text-align: right;
  font: 24px "font-family: 'Noto Serif', serif";
  color: aliceblue;
}
body nav .mapa {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}
body nav .mapa a {
  text-decoration: none;
  font: 16px "Playpen Sans", cursive;
  color: #EDF7D2;
}
body nav .mapa .botton {
  display: flex;
  background-color: #FAA4BD;
  width: 10%;
  height: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #EDF7D2;
}
body nav .mapa .botton:hover {
  border: 2px solid #FAA4BD;
  background-color: #EDF7D2;
  transition: 0.4s;
  color: #FAA4BD;
}
body section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
body section article {
  width: 50%;
}
body section article h1 {
  font: 16px "Playpen Sans", cursive;
  font-size: 30px;
  color: #FAA4BD;
  margin: 25px;
}
body section article h3 {
  font: 24px "font-family: 'Noto Serif', serif";
  color: #DBAF2A;
  margin: 10px;
}
body section article p {
  font: 16px "font-family: 'Indie Flower', cursive";
  color: #EDF7D2;
  font-style: oblique;
}
body section div {
  width: 50%;
  background-color: #DBAF2A;
  border-radius: 20px;
  margin: 0px 20px;
}
body aside {
  width: 100%;
  height: 600px;
  margin: 150px 0px;
  background-color: #FAA4BD;
}
body aside h1 {
  font: 16px "Playpen Sans", cursive;
  font-size: 30px;
  color: #231E22;
  height: 100px;
  margin: 40px 40px 20px 40px;
  display: flex;
  align-items: center;
}
body aside div {
  text-align: center;
  margin: 25px;
}
body aside p {
  width: 60%;
  margin: auto;
  font: 16px "font-family: 'Indie Flower', cursive";
  color: #231E22;
  font-size: 20px;
}