$ClrFondo: #231E22;
$ClrTexto: #EDF7D2;
$ClrTitle: #FAA4BD;
$ClrVari2: #DBAF2A;
$ClrVari : #532C01;

$FntVaria: 16px "font-family: 'Indie Flower', cursive";
$FntTitle: 24px "font-family: 'Noto Serif', serif";
$FntTexto: 16px 'Playpen Sans', cursive;