@import '_Variables';
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $ClrFondo;
    nav{
        display: flex;
        width: 100%;
        height: 126px;
        .icono{
            display: flex;
            width: 40%;
            justify-content: center;
            align-items: center;
            img{
                height: 80px;
                margin: 0px 0% 0px 5%;
            }
            h6{
                display: flex;
                align-items: center;
                text-align: right;
                font: $FntTitle;
                color: aliceblue;
            }

        }
        .mapa { 
            display: flex;
            width: 60%;
            justify-content: space-around;
            align-items: center;

            a{
                text-decoration: none;
                font: $FntTexto;
                color: $ClrTexto;
            }
            .botton{
                display: flex;
                background-color: $ClrTitle;
                width: 10%;
                height: 50%;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 2px solid $ClrTexto;
                &:hover{
                    border: 2px solid $ClrTitle;
                    background-color: $ClrTexto;
                    transition: .4s;
                    color: $ClrTitle;
                }
            }
        }
    }
    section{
        margin: auto;
        width: 60%;
        height: 600PX;
        display: flex;
        justify-content: center;
        div{
            width: 50%;
            margin: auto;
            h1{
                font: $FntTitle;
                color: $ClrTitle;
            }
            p{
                font: $FntTexto;
                color: $ClrTexto;
            }
            img{
                width: 70%;
                text-align: center;
            }
        }
    }
    article{
        margin: auto;
        width: 60%;
        height: 200PX;
        h1{
            font: $FntTitle;
            color: $ClrTitle;
            margin: 25px;
        }
        p{
            font: $FntTexto;
            color: $ClrTexto;
        }
    }
}
