// font-family: 'Kiwi Maru', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Train One', cursive;
$FuenteNormal: 18px 'Roboto', sans-serif;
$FuenteTitulo: 35px 'Train One', cursive;
$FuenteVariante: 17px 'Kiwi Maru', serif;
$FuenteTituloV: 25px 'Fira Sans', sans-serif;

$ColorTitulo: #1B212E; // #C1550E #5E0B0B
$ColorNormal: #252A34;
$ColorVariante: #969496;
$ColorFondo: #eaeaea;
$ColorFondoI: #838082;
$ColorAlert: #5E0B0B;