@import '_Variables', '_Scroll', '_Reg';
html{
    scroll-behavior: smooth;
    background-color: $ColorFondo;
}
.Contenedor{
    z-index: -5;
    width: 100%;
    
    
    #particles-js{
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    .C-Iframe{
        display: flex;
        justify-content: center;
    }
    nav{
        width: 100%;
        top: -1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $ColorFondoI;
        margin: 0px;
        position: sticky;
        &:focus{
            outline: none;
        }
        a{
            text-decoration: none;
            color: $ColorFondo;
            font: $FuenteTitulo;
            font-size: 30px;
            transition: .5s;
            text-align: center;
            &:hover{
                color: $ColorTitulo;
            }
        }
    }
    .Intro{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-content: center;
        h1{
            font-weight: 600;
            margin:  20px auto;
            width: 80%;
            font: $FuenteTitulo;
            color: $ColorTitulo;
            text-align: center;
            background-color: $ColorVariante;
            border-radius: 10px;
        }
        p{
            font: $FuenteNormal;
            color: $ColorNormal;
            margin: auto;
            width: 90%;
            text-align: center;
        }
    }
    .Señales{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        .Señal{
            margin: 10px;
            width: 20%;
            img{
                display: block;
                margin: auto;
                width: 40%;
                height: width;
                
            }
            #MaG{
                display: block;
                margin: auto;
                width: 60%;
                height: 155px;
            }
            .Cont-h3{
                width: 100%;
                height: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $ColorVariante;
                border-radius: 8px;
                margin: 5px 0 10px 0;
                h3{
                    font-weight: bold;
                    text-align: center;
                    font: 30px 'Do Hyeon', sans-serif;
                    color: $ColorTitulo;
                }
            }
            p{
                text-align: center;
                font: $FuenteVariante;
                color: $ColorNormal;
            }
        }
    }

}
@media screen and (max-width: 768px){
    .Contenedor{
        nav{
            flex-wrap: wrap;
            top: -1px;
            a{
                text-align: center;
                width: 50%;
                font-size: 19px;
            }
        }
        #Reg{
            top: 50px;
        }
        .Señales{
            width: 98%;
            .Señal{
                width: 45%;
                .Cont-h3{
                    h3{
                        font-size: 22px;
                    }
                }
                p{
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 380px){
    .Contenedor{
        nav{
            flex-wrap: wrap;
            a{
                text-align: center;
                width: 100%;
            }
        }
        #Reg{
            top: 100px;
        }
        .Intro{
            padding: 190px 10px;
            h1{
                width: 100%;
            }
            p{
                width: 100%;
            }
        }
        .Señales{
            .Señal{
                width: 80%;
                p{
                    font-size: 25px;
                }
            }
        }
    }
}