@import '_Variables';
#Cabeza{
    margin: auto;
    width: 100%;
    background-color: $ColorFondoI;
    box-shadow: 1px 5px 15px black;

    display: flex;
    align-items: center;
    justify-content: space-around;
    .Logo{
        width: 30%;
        display: flex;
        justify-content: center;
        img{
            width: 70%;
        }
    }
    nav{
        width: 69%;
        display: flex;
        align-items: center;
        .Padre{
            width: 100%;
            display: flex;
            padding: 0%;
            li{
                list-style: none;
                width: 31%;
                &:hover{
                    ul{
                        display:block;
                        border-radius: 0px;
                    }
                }
                ul{
                    display: none;
                    position: absolute;
                    padding: 0%;
                    li{
                        position: relative;
                        width: 365px;
                    }
                }
                a{
                    background-color: $ColorFondoI;
                    text-align: center;
                    font: $FuenteNormal;
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    color: $ColorFondo;
                    display: block;
                    transition: 0.5s;
                    padding: 10px 0;
                    

                    flex-grow: 1;
                    &:hover{
                        border-radius: 5px;
                        color: $ColorTitulo;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    #Cabeza{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        .Logo{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        nav{
            width: 100%;
            display: flex;
            justify-content: center;
            .Padre{
                padding: 0%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                li{
                    width: 100%;
                    a{
                        width: 100%;
                    }
                    ul{
                        width: 100%;
                        li{
                            width: 100%;
                            a{
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}