@import '_Variables', '_Scroll', '_Reg';
body{
    background-color: $ColorFondo;
    #particles-js{
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    .ini{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        h1{
            text-align: center;
            font: $FuenteTitulo;
            color: $ColorTitulo;
        }
        h3{
            text-align: center;
            font: $FuenteVariante;
            color: $ColorNormal;
            font-size: 20px;
        }
    }
    .idea{
        width: 90%;
        margin: auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(0.5, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "cuestion cuestion"
                             "img cuestion";
        #test{
            display: grid;
            grid-area: cuestion;
            margin: 0px auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            .cuestion{
                grid-area: cuestion;
                font: $FuenteTituloV;
                color: $ColorAlert;
                text-align: center;
                margin: 70px  0px 50px 0px;
            }
            .respuestas{
                grid-area: obtions;
                width: 50%;
                margin: auto 10px auto auto;
                display: flex;
                align-items: left;
                justify-content: left;
                flex-flow: row wrap;
                font: $FuenteVariante;
                font-size: 25px;
                text-align: center;
                line-height: 30px;
                color: $ColorNormal;
                padding-left: 60px;
                label{
                    margin: 0px 20px;
                }
            }
        }
        #image{
            display: grid;
            grid-area: img;
            display: flex;
            justify-content: right;
            flex-direction: column;
            align-content: center;
            width: 50%;
            #foticos{
                text-align: center;
                width: 100%;
                margin: auto;
                padding-top: 150px;
                img{
                    padding: 20px;
                    width: 45%;
                    margin: auto;
                }
            }
        }
    }
    #boton{
        border: none;
        display: block;
        background-color: $ColorVariante;
        text-align: center;
        width: 30%;
        height: 50px;
        margin: auto;
        transition: .5s;
        outline: none;
        font: $FuenteVariante;
        color: $ColorAlert;
        border-radius: 20px;
    }
    #resultado{
        color: black;
        font: $FuenteVariante;
        font-size: 30px;
        width: 80%;
        margin: auto;
        text-align: center;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px){
    body{
        .idea{
            #image{
                width: 35%;
                #foticos{
                    margin: none;
                    img{
                        margin: 0px;
                        width: 100%;
                    }
                }
            }
            #test{
                .cuestion{
                    font-size: 30px;
                    width: 100% ;
                }
                .respuestas{
                    padding: -25px;
                    width: 65%;
                    font-size: 22px;
                }
            }
        }
        #boton{
            width: 100%;
            font-size: 25px;
        }
    }
}