@import '_Variables', '_Scroll', '_Reg';
.Contenedor{
    height: 511px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div{
        background-color: black;
        width: 50%;
        height: 50%;
        a{
            text-align: center;
            float: $FuenteVariante;
            font-size: 40px;
            color: $ColorTitulo;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $ColorFondo;
            text-decoration: none;
            border-radius: 10px;
            transition: 0.8s;
            &:hover{
                background-color: $ColorTitulo;
                color: $ColorFondo;
            }
        }
    }
}