@import '_Variables', '_Scroll', '_Reg', '_Puntos';
body{
    background-color: $ColorFondo;
    #particles-js{
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -99;
    }
    h1{
        text-align:center;
        font: $FuenteTitulo;
        color: $ColorTitulo;
    }
    h3{
        margin: auto;
        width: 80%;
        text-align: center;
        font: $FuenteTituloV;
        color: $ColorNormal;
    }
    .ponts{
        display: flex;
        justify-content: center;
        div{
            text-align: center;
            color: black;
            font: $FuenteTitulo;
        }
        #Puntos{
            text-align: center;
            color: black;
            font: $FuenteTitulo;
        }
    }
    #Ocult{
        display: flex;
        justify-content: center;
        #butt{
            margin: auto;
            color: #5E0B0B;
            background-color: $ColorVariante;
            width: 20%;
            font: $FuenteTituloV;
            height: 30px;
            border: none;
            border-radius: 30px;
            transition: .5s;
            &:hover{
                filter: blur(2px);
            }
            &:visited{
                display: none;
            }
        }
    }
    #resultado{
        text-align: center;
        width: 50%;
        margin: auto;
        font-size: 40px;
        font: $FuenteTitulo;
        color: $ColorTitulo;
    }
    .Cont-Canvas{
        width: 100%;
        display: flex;
        justify-content: center;
        #miCanvas{
            width: 800px;
            margin: auto;
            border: solid 1px $ColorVariante;
        }
    }
    #Aparece{
        display: none;
        font: $FuenteTitulo;
        color: $ColorNormal;
        text-align: center;
    }
    .Titulo{
        font: $FuenteTitulo;
        color: $ColorTitulo;
    }
    .Texto{
        font: $FuenteVariante;
        color: $ColorNormal;
    }
    #caja{
        display: flex;
        justify-content: center;
        .tabla{
            border: 5px solid $ColorVariante;
            text-align: center;
            border-collapse: collapse;
            border-radius: 10px;
            tr{
                td{
                    border: 2px solid $ColorTitulo;
                    width: 60px;
                    height: 60px;
                    a{
                        img{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    form{
        font: $FuenteVariante;
        color: $ColorNormal;
        display: block;
        text-align: center;
        .scores2{
            width: 400px;
        }
    }
}
@media screen and (max-width: 768px){
    body{
        .Cont-Canvas{
            width: 320px;
            #miCanvas{
                width: 0px;
            }
        }
        #Aparece{
            display: block;
        }
        form{
            width: 100%;
            .scores2{
                width: 100%;
            }
        }
    }
}
